---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/blog/Headline.astro';
// import PostTags from "~/components/blog/Tags.astro";

export const prerender = true;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: 'Nuestros Asesores',
};
---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle="Buscamos la opinión, validación y retroalimentación de expertos en el área del baile y la actividad física."
    >
      Nuestros Asesores
    </Headline>
    <div class="flex flex-col justify-center items-center">
      <h1 class="text-4xl font-bold text-center">Entrevistas con el experto</h1>
      <p class="text-gray-500 text-center mt-2 mb-4">
        Jefferson es profesor de baile certificado con 20 años de experiencia, actualmente trabaja como asesor de Revo
        Sport y profesor particular.
      </p>
      <div class="flex flex-wrap justify-center items-center gap-10">
        <div
          class="w-full flex flex-col justify-center items-center border border-[#111111] bg-[#292929] rounded-lg max-w-fit"
        >
          <iframe
            src="https://drive.google.com/file/d/1IqbLwOPwFLPkLQ1QOj8mu1xjTMi_c4uZ/preview"
            allow="autoplay"
            class="rounded-lg"></iframe>
          <h4 class="hover:underline mt-0">Primera Parte</h4>
        </div>
        <div
          class="w-full flex flex-col justify-center items-center border border-[#111111] bg-[#292929] rounded-lg max-w-fit"
        >
          <iframe src="https://drive.google.com/file/d/1jIauIWfCTQlSlTF9t4QZlBO1MNn87xey/preview" allow="autoplay"
          ></iframe>
          <h4 class="hover:underline mt-0">Segunda Parte</h4>
        </div>

        <div
          class="w-full flex flex-col justify-center items-center border border-[#111111] bg-[#292929] rounded-lg max-w-fit"
        >
          <iframe src="https://drive.google.com/file/d/1SlmDT5pBOInFPOJ0DNVevjNCC6dRgDot/preview" allow="autoplay"
          ></iframe>
          <h4 class="hover:underline mt-0">Tercera Parte</h4>
        </div>
      </div>
    </div>
    <!--
            <BlogList posts={page.data} />
            <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
  <div class="flex flex-col justify-center items-center mt-10 bg-[#2c2c2c] w-full px-6 md:px-44 py-12">
    <h1 class="text-4xl md:text-6xl font-bold text-center">Ya, pero con quién más valida la idea?</h1>
    <p class="text-gray-500 text-center mt-5 mb-4">
      Contamos con la opinión y experiencia de personas con algo de conocimiento sobre el baile, y algunos con 2 pies
      izquierdos.
    </p>
    <div class="w-full flex flex-col md:flex-row mt-10 justify-center px-10 items-center gap-8">
      <iframe
        class="rounded-lg"
        src="https://drive.google.com/file/d/1JVk52jRvWiR7Uc6J40hp4kX-Gc86Ry8x/preview"
        allow="autoplay"></iframe>
      <div class="flex flex-col w-full md:w-1/4 text-center md:text-left">
        <h3 class="text-2xl font-bold mb-4">Solange - Bailarina</h3>
        <p>
          Solange es egresada de la carrera de Ciencia de la computación y por salud, además de querer revivir su pasión
          por el baile decidió retomar el baile.
        </p>
      </div>
    </div>
    <div class="w-full flex flex-col md:flex-row mt-10 justify-center px-10 items-center gap-8">
      <div class="flex flex-col w-full md:w-1/4 text-center md:text-left">
        <h3 class="text-2xl font-bold mb-4">Gabriel - Estudiante de secundaria</h3>
        <p>
          Gabriel participó en el festival FESADANZA de su colegio, San Juan Bautista de la Salle, donde pudo demostrar
          junto con su promoción el gusto que se puede tener por el baile.
        </p>
      </div>
      <iframe
        class="rounded-lg"
        src="https://drive.google.com/file/d/1boOL4GD1nOsVY0H-sSKw3KkMz-RA1dEY/preview"
        allow="autoplay"></iframe>
    </div>
  </div>
</Layout>
